/* Inter - sans */

/* Metrisch - sans */

@font-face {
    font-family: 'Baskerville';
    src:
      url('/fonts/baskerville.woff') format('woff'),
      url('/fonts/baskerville.woff2') format('woff2');
    font-display: swap;
  }

  ul{
    padding-left: 20px;
  }